.app-calendar {
  border: none;
  font-family: Rubik, sans-serif;
  font-weight: 500;

  .react-calendar__tile--active {
    background-color: var(--primary);
  }

  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: var(--primary-light);
  }

  .react-calendar__navigation {
    font-size: 14px;
  }
}
